body {

	background-image: url('../imagery/the-universe.jpg');

}

html, body {

	width: 100%;

	height: 100%;

}

div {

	/*padding-top: 20%;*/

	/* background-color:pink;*/

	text-align: center;

}

div:after {

  content: "";

  display: inline-block;

  width: 100%;

}

hdd1{

	text-align:center;

	/*text-transform: uppercase;*/

	font-family: "HelveticaNeue-CondensedBold";

	font-size:500%;

	color: white;

		text-shadow: 2px 2px pink;

	content: "";

	display: inline-block;

	width: 100%;

}
